<%= nested_form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
    <%= f.fields_for :lines do |line| %>
    <div class="field">
      <%= line.label :category %><br>
      <%= line.collection_select(:category_id, Category.all, :id, :name , {include_blank: 'Select Category'} ) %>
      <%= line.label :type %><br>
      <%= line.text_field :type %>
      <%= line.link_to_remove "Remove category" %>
    </div>

    <% end %>
    <p><%= f.link_to_add "Add a category", :lines %></p>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
